@font-face {
	font-family: 'line-icons';
	src:url('/fonts/line-icons.eot?mtnzra');
	src:url('/fonts/line-icons.eot?#iefixmtnzra') format('embedded-opentype'),
		url('/fonts/line-icons.ttf?mtnzra') format('truetype'),
		url('/fonts/line-icons.woff?mtnzra') format('woff'),
		url('/fonts/line-icons.svg?mtnzra#line-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="i-"], [class*=" i-"] {
	font-family: 'line-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.i-twitter:before {
	content: "\f099";
}
.i-github:before {
	content: "\f09b";
}
.i-pinterest:before {
	content: "\f0d2";
}
.i-pinterest-square:before {
	content: "\f0d3";
}
.i-google-plus-square:before {
	content: "\f0d4";
}
.i-youtube-square:before {
	content: "\f166";
}
.i-youtube:before {
	content: "\f167";
}
.i-behance-square:before {
	content: "\f1b5";
}
.i-steam:before {
	content: "\f1b6";
}
.i-steam-square:before {
	content: "\f1b7";
}
.i-git-square:before {
	content: "\f1d2";
}
.i-facebook-official:before {
	content: "\f230";
}
.i-vimeo:before {
	content: "\f27d";
}
.i-eye:before {
	content: "\e000";
}
.i-paper-clip:before {
	content: "\e001";
}
.i-mail:before {
	content: "\e002";
}
.i-toggle:before {
	content: "\e003";
}
.i-layout:before {
	content: "\e004";
}
.i-link:before {
	content: "\e005";
}
.i-bell:before {
	content: "\e006";
}
.i-lock:before {
	content: "\e007";
}
.i-unlock:before {
	content: "\e008";
}
.i-ribbon:before {
	content: "\e009";
}
.i-image:before {
	content: "\e010";
}
.i-signal:before {
	content: "\e011";
}
.i-target:before {
	content: "\e012";
}
.i-clipboard:before {
	content: "\e013";
}
.i-clock:before {
	content: "\e014";
}
.i-watch:before {
	content: "\e015";
}
.i-air-play:before {
	content: "\e016";
}
.i-camera:before {
	content: "\e017";
}
.i-video:before {
	content: "\e018";
}
.i-disc:before {
	content: "\e019";
}
.i-printer:before {
	content: "\e020";
}
.i-monitor:before {
	content: "\e021";
}
.i-server:before {
	content: "\e022";
}
.i-cog:before {
	content: "\e023";
}
.i-heart:before {
	content: "\e024";
}
.i-paragraph:before {
	content: "\e025";
}
.i-align-justify:before {
	content: "\e026";
}
.i-align-left:before {
	content: "\e027";
}
.i-align-center:before {
	content: "\e028";
}
.i-align-right:before {
	content: "\e029";
}
.i-book:before {
	content: "\e030";
}
.i-layers:before {
	content: "\e031";
}
.i-stack:before {
	content: "\e032";
}
.i-stack-2:before {
	content: "\e033";
}
.i-paper:before {
	content: "\e034";
}
.i-paper-stack:before {
	content: "\e035";
}
.i-search:before {
	content: "\e036";
}
.i-zoom-in:before {
	content: "\e037";
}
.i-zoom-out:before {
	content: "\e038";
}
.i-reply:before {
	content: "\e039";
}
.i-circle-plus:before {
	content: "\e040";
}
.i-circle-minus:before {
	content: "\e041";
}
.i-circle-check:before {
	content: "\e042";
}
.i-circle-cross:before {
	content: "\e043";
}
.i-square-plus:before {
	content: "\e044";
}
.i-square-minus:before {
	content: "\e045";
}
.i-square-check:before {
	content: "\e046";
}
.i-square-cross:before {
	content: "\e047";
}
.i-microphone:before {
	content: "\e048";
}
.i-record:before {
	content: "\e049";
}
.i-skip-back:before {
	content: "\e050";
}
.i-rewind:before {
	content: "\e051";
}
.i-play:before {
	content: "\e052";
}
.i-pause:before {
	content: "\e053";
}
.i-stop:before {
	content: "\e054";
}
.i-fast-forward:before {
	content: "\e055";
}
.i-skip-forward:before {
	content: "\e056";
}
.i-shuffle:before {
	content: "\e057";
}
.i-repeat:before {
	content: "\e058";
}
.i-folder:before {
	content: "\e059";
}
.i-umbrella:before {
	content: "\e060";
}
.i-moon:before {
	content: "\e061";
}
.i-thermometer:before {
	content: "\e062";
}
.i-drop:before {
	content: "\e063";
}
.i-sun:before {
	content: "\e064";
}
.i-cloud:before {
	content: "\e065";
}
.i-cloud-upload:before {
	content: "\e066";
}
.i-cloud-download:before {
	content: "\e067";
}
.i-upload:before {
	content: "\e068";
}
.i-download:before {
	content: "\e069";
}
.i-location:before {
	content: "\e070";
}
.i-location-2:before {
	content: "\e071";
}
.i-map:before {
	content: "\e072";
}
.i-battery:before {
	content: "\e073";
}
.i-head:before {
	content: "\e074";
}
.i-briefcase:before {
	content: "\e075";
}
.i-speech-bubble:before {
	content: "\e076";
}
.i-anchor:before {
	content: "\e077";
}
.i-globe:before {
	content: "\e078";
}
.i-box:before {
	content: "\e079";
}
.i-reload:before {
	content: "\e080";
}
.i-share:before {
	content: "\e081";
}
.i-marquee:before {
	content: "\e082";
}
.i-marquee-plus:before {
	content: "\e083";
}
.i-marquee-minus:before {
	content: "\e084";
}
.i-tag:before {
	content: "\e085";
}
.i-power:before {
	content: "\e086";
}
.i-command:before {
	content: "\e087";
}
.i-alt:before {
	content: "\e088";
}
.i-esc:before {
	content: "\e089";
}
.i-bar-graph:before {
	content: "\e090";
}
.i-bar-graph-2:before {
	content: "\e091";
}
.i-pie-graph:before {
	content: "\e092";
}
.i-star:before {
	content: "\e093";
}
.i-arrow-left:before {
	content: "\e094";
}
.i-arrow-right:before {
	content: "\e095";
}
.i-arrow-up:before {
	content: "\e096";
}
.i-arrow-down:before {
	content: "\e097";
}
.i-volume:before {
	content: "\e098";
}
.i-mute:before {
	content: "\e099";
}
.i-content-right:before {
	content: "\e100";
}
.i-content-left:before {
	content: "\e101";
}
.i-grid:before {
	content: "\e102";
}
.i-grid-2:before {
	content: "\e103";
}
.i-columns:before {
	content: "\e104";
}
.i-loader:before {
	content: "\e105";
}
.i-bag:before {
	content: "\e106";
}
.i-ban:before {
	content: "\e107";
}
.i-flag:before {
	content: "\e108";
}
.i-trash:before {
	content: "\e109";
}
.i-expand:before {
	content: "\e110";
}
.i-contract:before {
	content: "\e111";
}
.i-maximize:before {
	content: "\e112";
}
.i-minimize:before {
	content: "\e113";
}
.i-plus:before {
	content: "\e114";
}
.i-minus:before {
	content: "\e115";
}
.i-check:before {
	content: "\e116";
}
.i-cross:before {
	content: "\e117";
}
.i-move:before {
	content: "\e118";
}
.i-delete:before {
	content: "\e119";
}
.i-menu:before {
	content: "\e120";
}
.i-archive:before {
	content: "\e121";
}
.i-inbox:before {
	content: "\e122";
}
.i-outbox:before {
	content: "\e123";
}
.i-file:before {
	content: "\e124";
}
.i-file-add:before {
	content: "\e125";
}
.i-file-subtract:before {
	content: "\e126";
}
.i-help:before {
	content: "\e127";
}
.i-open:before {
	content: "\e128";
}
.i-ellipsis:before {
	content: "\e129";
}
