html {
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.row {
	max-width: 105.5em;
}

.row .row {
	margin: 0 -.5em;
}

body {
	font-family: 'open sans', Helvetica, Arial, sans-serif;
	color: #484848;
	background: #f0f0f0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	text-align: center;
    margin: 0;
    line-height: 1;
    font-size: 20px;
    font-weight: 500;
   	margin-top: -6px;
}

p {
	padding: 20px 16px 0 16px;
    margin: 0;
    font-size: 13px;
    line-height: 1.5;
}

label {
	font-size: 12px;
    font-weight: 600;
}

input[type='text'] {
	font-size: 14px;
    padding: 6px 10px;
    border: 1px solid #D8D8D8;
    transition: all 50ms;
}

input[type='text']:focus {
	outline: none;
    border: 1px solid #86BAD1;
    box-shadow: 0px 0px 1px #84B4C9;
}

.text-center {
	text-align: center;
}

.button {
	color: #fff;
	line-height: 25px;
    background-color: #348CB3;
    border: 1px solid #3D809E;
    display: block;
    width: 100px;
    text-align: center;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 14px;
    transition: all 50ms;
}

.button:hover {
	background-color: #3798C3;
}

.button:focus {
	outline: none;
    border: 1px solid #1A4B60;
}

.button:active {
	background-color: #2B7B9E;
	border: 1px solid #236887;
}

.button[disabled] {
	opacity: 0.5;
}

.button.negative {
	background-color: #CF2A66;
	border-color: #A2204F;
}

.button.negative:hover {
	background-color: #E03070;
}

.button.negative:focus {
	border-color: #751A3B;
}

.button.negative:active {
	background-color: #B7255A;
	border-color: #8E1F47;
}

.button-group {
	margin: 0 auto;
	width: 205px;
}

.button-group .button {
	float: left;
	margin-left: 5px;
}

.button-group .button:first-child {
	margin-left: 0;
}

.button-group + p {
	clear: both;
}

.i-menu {
	position: absolute;
    right: 0px;
    top: 47px;
    font-size: 22px;
    display: block;
    height: 40px;
    width: 50px;
    line-height: 37px;
    text-align: center;
    opacity: 0.8;
    cursor: pointer;
}

.i-menu:hover {
	opacity: 1;
}

.smite_logo {
	width: 200px;
    margin: 0 auto;
    display: block;
}

.title {
	font-size: 1.2rem;
    line-height: 1.5;
    border-bottom: 1px solid #EEEEEE;
    font-weight: 400;
    margin-bottom: 0.5rem;
    pointer-events: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
}


.main {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	padding-left: 295px;
	/*transition: padding 250ms;*/
}

.bin {
	width: 295px;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #2B4956;
    color: #fff;
    padding-top: 2rem;
    overflow-y: auto;
    transition: transform 200ms;
}

.bin .bin-content {
	transition: transform 300ms;
}

.bin .god-icons {
    overflow-y: auto;
    border: none;
    background: none;
    box-shadow: none;
}

.bin .title {
	border-bottom-color: #3E606F;
	text-align: center;
	font-size: 1rem;
	color: #469FC5;
}

.bin .god-search {
	width: 100%;
    margin-bottom: 6px;
    border: 1px solid #598CA2;
    background-color: transparent;
}

.bin .god-search:focus {
	 border: 1px solid #FFFFFF;
	 box-shadow: none;
}

.empty-row {
	font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

.empty-row.hide {
	display: none;
}

.publish-row {
	width: 50%;
	margin: 0 auto;
	margin-top: 1rem;
}

.publish-row input {
	width: 100%;
}

.tier-list {
	width: 100%;
	padding: 10px;
	flex: 1;
}

.main.collapse {
	padding-left: 50px;
}

.main.collapse .bin {
	cursor: pointer;
}

.main.collapse .bin:hover {
	background: #335A6B;
}

.main.collapse .bin:hover .i-menu {
	opacity: 1;
}

.main.collapse .bin {
	transform: translateX(-245px);
	overflow: hidden;
}

.main.collapse .bin .bin-content {
	transform: translateX(-35px);
}

.god-icons {
	margin-top: 0.5rem !important;
	position: relative;
	font-size: 0;
	background: #ffffff;
	padding: 0.5rem 1rem 1rem 1rem;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.10);
	border-radius: 3px
}

.god-icons.over {
	background: #F6F6F6;
}

.god-icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: contain;
	border: 1px solid #6B6B6B;
	margin: 1px;
	border-radius: 3px;
	-webkit-transition: transform 200ms all 150ms;
	transition: transform 200ms all 150ms;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
}

.god-icon.offscreen {
	position: absolute;
	right: 0;
	bottom: 0;
}

.god-icon.dragger {
	border: 2px solid #AC2F2F;
    transform: scale(0.7);
}

.god-icon.selected {
	border: 3px solid #C73077;
    border-radius: 3px;
}

.god-icon.empty {
	position: relative;
	border: 2px dashed #777777;
    border-radius: 10px;
}

.god-icon.hide {
	display: none;
}

.god-icon.empty:before {
	content: '+';
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 23px;
    font-weight: 600;
}

.add-selected {
	opacity: 0;
	position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 37px;
    width: 77px;
    color: #5DB1DE;
    font-size: 10px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
}

.add-selected.show {
	opacity: 1;
}

footer {
	clear: both;
    background-color: #E2E2E2;
    text-align: center;
    height: 50px;
    line-height: 48px;
}

footer span {
	font-size: 14px;
}